
body {
    background: #FAF3EC;
    font-family: 'Roboto';
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #748194;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #748194;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #748194;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #748194;
}

.c2 {
    position: relative;
    top: 5vh;
    margin: auto;
    background-color: white;
    width: 300px;
    height: 500px;
    border-radius: 15px;
}

.username {
    font-weight: bold;
    width: 200px;
    margin: 0 35px 20px;
    height: 35px;
    padding: 6px 15px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: #F6F7F9;
    color: #748194;
    font-size: 14px;
}

.password {
    font-weight: bold;
    width: 200px;
    margin: 0 35px 20px;
    height: 35px;
    padding: 6px 15px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: #F6F7F9;
    color: #748194;
    font-size: 14px;
}

.btn {
    font-weight: bold;
    width: 230px;
    margin: 0 35px 20px;
    height: 45px;
    padding: 6px 15px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: #EE9BA3;
    color: white;
    font-size: 14px;
}

.signup1 {
    position: relative;
    color: #748194;
    font-size: 30px;
    text-align: center;
    top: 5vh;
}

a {
    text-decoration: none;
}

.signup2 {
    color: #748194;
    font-size: 20px;
    text-align: center;
}

.signup {
    display: initial;
}

.signin {
    display: initial;
}
