<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="assets/css/login.css">
    <link rel="shortcut icon" href="#">
</head>

<body>
    <div class="c2">
        <form class="signin">
            <h1 class="signup1">SIGN IN</h1>
            <br><br><br><br>
            <label>
                <input name="username" type="text" placeholder="Username*" class="username"/>
                <input name="password" type="password" placeholder="Password*" class="password"/>
            </label>

            <button type="submit" class="btn" onclick="submitForm()">Sumbit</button>

            <br><br><br><br>
            <a href="register.html">
                <p class="signup2">You new ? Click to</p>
            </a>
        </form>
    </div>
</body>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="assets/js/login.js"></script>

</html>